@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$colorPrimary: #ffffff;
$colorSecondary: #000000;
$color3: #a69f95;
$color4: #7a7a7a;
$color5: #606b73;
$colorError: #d1061a;
$colorSuccess: #0f730c;

$padding-default: 1rem;
$width-default: 140rem;
$mg-default: 1rem;

$border-radius-default: 0.5rem;

$font-default: "Poppins", sans-serif;
