@use "../../styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: variables.$width-default;
  padding: variables.$padding-default;
  margin: 0 auto;
}

.min-height {
  min-height: 80vh;
}

.column {
  flex-direction: column;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}
